@if (!getListItems().length) {
    <div class="container">
        <img src="assets/img/task-list-null.png" alt="Sua lista está vazia -- imagem ilustrativa" width="160px"
            height="166px" loading="eager">

        @if (addItem()) {
        <button class="btn btn-primary" (click)="addItem.set(false)">Crie uam lista de tarefas</button>
        }@else{
        <app-item [inputListItems]="getListItems()" (outpuAddListItems)="getInputAddItem($event)" />
        }
    </div>
}@else {
    <app-item 
        [inputListItems]="getListItems()" 
        (outpuAddListItems)="getInputAddItem($event)" 
    />
    <main class="container">
        <h2>Pendencias</h2>
        <app-input-list-item [inputListItems]="getListItems()" />

        
    </main>
    <footer>
        <button class="btn btn-danger" (click)="deleteAllItems()">
            Deletar todos os items
        </button>
    </footer>
}